<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript">
        setTimeout(function () { top.location = '<%= url%>'; }, 3000);
    </script>
    <style type="text/css">
        body {
            text-align: center
        }

        h1 {
            font-family: "微软雅黑"
        }
    </style>
    <title>404</title>
</head>

<body>
    <p><img src="/err.gif" width="520" height="320" /></p>
    <h1>抱歉，这个页面已经被外星人绑架了</h1>
    <p>3秒钟后将带您返回地球</p>
</body>

</html>